body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.about-us,
.mission-vision,
.team {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* extra */
.about-us{
    float: left;
    margin-left: 20px;
}
.mission-vision{
    translate:-90px;
    z-index:-1;
    float: right;
    
}
.team{
    float: left;
}
.img{
    height:100px;
    width:fit-content;
    translate:-40px -90px;
    z-index: -1;
}

.img img{
    width: 100%;
    height: 500px;
}

.line{
    display: flex;
    align-items: center;
}
.line2{
    display: flex;
}
.img2{
    height: 200px;
    width: auto;
}
.img2 img{
     width: 100%;
     height: 600px;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
